/* The container */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkbox-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 2px solid #c2c2c2;
    background-color: #fff;
    border-radius: 5px;
    transition: border-color 0.3s;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background and change border color */
.checkbox-container input:checked ~ .checkmark {
    background-color: #17c05b;
    border-color: #17c05b;
}

/* Style for the checkmark/indicator when not checked */
.checkbox-container input:not(:checked) ~ .checkmark {
    background-color: #fff;
    border-color: #c2c2c2;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
